@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* define variables */
:root {
  /* PRIMARY COLORS */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);

  /* graphic design text */
  --dark-sat-cyan: hsl(167, 40%, 24%);

  /*photography text */
  --dark-blue: hsl(198, 62%, 26%);

  /* footer */
  --dark-mod-cyan: hsl(168, 34%, 41%);

  /* NEUTRAL COLORS */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --font-size-base: 18px;

  --font-family-barlow: "Barlow", sans-serif;
  --font-family-fraunces: "Fraunces", serif;

  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

html {
  font-size: var(--font-size-base);
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2em 1em;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

nav li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  font-family: var(--font-family-barlow);
}

.main__container {
  background-image: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container h1 {
  color: var(--white);
  font-family: var(--font-family-fraunces);
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.main__container img {
  display: block;
  margin: 3em 0 0 0;
}

@media (min-width: 600px) {
  .main__container {
    background-image: url("./images/desktop/image-header.jpg");
    height: 100vh;
    border: 1px solid black;
  }

  .main__container h1 {
    font-size: 3rem;
    letter-spacing: 0.2em;
  }

  .main__container img {
    margin: 4em 0 6em 0;
  }

  .navbar-title {
    font-size: 2em;
  }

  .navbar-icon img {
    height: 1.7em;
  }
}
