@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* define variables */
:root {
  /* PRIMARY COLORS */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);

  /* graphic design text */
  --dark-sat-cyan: hsl(167, 40%, 24%);

  /*photography text */
  --dark-blue: hsl(198, 62%, 26%);

  /* footer */
  --dark-mod-cyan: hsl(168, 34%, 41%);

  /* NEUTRAL COLORS */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --font-size-base: 18px;

  --font-family-barlow: "Barlow", sans-serif;
  --font-family-fraunces: "Fraunces", serif;

  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

html {
  font-size: var(--font-size-base);
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5em;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-hamburger {
  display: block;
  cursor: pointer;
}

nav ul {
  text-decoration: none;
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}

.mobile-clicked {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 87%;
  height: 80vw;
  margin: 0 1.5em;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav li a {
  color: var(--very-dark-gray-blue);
  text-decoration: none;
  display: block;
  font-family: var(--font-family-barlow);
}

nav li:last-child a {
  font-family: var(--font-family-fraunces);
  color: var(---very-dark-desat-blue);
  background-color: var(--yellow);
  padding: 1em 1.4em;
  border-radius: 2em;
  font-size: 0.9em;
}

.navbar_close__container {
  display: block;
  width: 100%;
  padding: 0 1em;
  margin-top: -1em;
}

.navbar_close__container img {
  height: 24px;
  width: 24px;
}

.main__container {
  background-image: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container h1 {
  color: var(--white);
  font-family: var(--font-family-fraunces);
  font-size: 2.7rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.main__container img {
  display: block;
  margin: 3em 0 0 0;
}

.egg_mobile {
  display: block;
}

.egg_desktop {
  display: none;
}

.text_image_containers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 2fr;
}

.inner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 80%;
}

.image__container img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image__container_mobile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  font-family: var(--font-family-fraunces);
  color: var(--very-dark-desat-blue);
  font-weight: var(--font-weight-900);
  font-size: 2em;
  text-align: center;
}

article .text {
  color: var(--dark-gray-blue);
  font-family: var(--font-family-barlow);
  font-weight: var(--font-weight-600);
  text-align: center;
}

article .learn_more_button a {
  text-decoration: none;
  font-family: var(--font-family-fraunces);
  color: var(--very-dark-desat-blue);
  font-weight: var(--font-weight-900);
  position: relative;
}

.learn_more_button a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5px;
  width: 0;
  height: 10px;
  border-radius: 15px;
  opacity: 0.2;
  background-color: var(--yellow);
  transition: all 0.2s ease-in-out;
}

.learn_more_button a:hover::after {
  width: 110%;
}

.version2 a::after {
  background-color: var(--soft-red);
}

.top_layer h2 {
  font-family: var(--font-family-fraunces);
  color: var(--dark-sat-cyan);
  font-weight: var(--font-weight-900);
  text-align: center;
}

.top_layer .photo {
  font-family: var(--font-family-fraunces);
  color: var(--dark-sat-cyan);
  font-weight: var(--font-weight-900);
  text-align: center;
}

.top_layer .text {
  color: var(--dark-blue);
  font-family: var(--font-family-barlow);
  font-weight: var(--font-weight-600);
  text-align: center;
}

.container {
  position: relative;
}

.container img {
  position: absolute;
}

.top_layer {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: 2em;
}

.top_layer h2 {
  font-size: 1.5em;
}

.top_layer .text {
  padding: 2em 1.5em;
  font-size: 0.9em;
  line-height: 1.5em;
}

.client-testimonials {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}

.client-testimonials h3 {
  font-family: var(--font-family-fraunces);
  color: var(--gray-blue);
  font-weight: var(--font-weight-900);
  text-align: center;
}

.client__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 2em;
  height: 45vh;
}

.client__container img {
  display: block;
  border-radius: 50%;
  width: 20%;
}

.client__container .text {
  font-family: var(--font-family-barlow);
  color: var(--very-dark-gray-blue);
  text-align: center;
}

.client__container .name {
  font-family: var(--font-family-fraunces);
  color: var(--dark-sat-cyan);
  font-weight: var(--font-weight-900);
  text-align: center;
}

.client__container .title {
  font-family: var(--font-family-barlow);
  text-align: center;
  color: var(--gray-blue);
  margin-top: 1em;
}

.only-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .main__container {
    background-image: url("./images/desktop/image-header.jpg");
    height: 100vh;
  }

  .main__container h1 {
    font-size: 3rem;
    letter-spacing: 0.2em;
  }

  .main__container img {
    margin: 4em 0 6em 0;
  }

  .navbar-title {
    font-size: 2em;
  }

  .navbar-icon img {
    height: 1.7em;
  }

  header {
    padding: 1.5em 4.4em;
  }

  .navbar-hamburger {
    display: none;
  }

  nav ul {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
  }

  nav li a {
    color: var(--white);
  }

  nav li:last-child a {
    background-color: var(--white);
    font-size: 0.8em;
  }

  .navbar_close__container {
    display: none;
  }

  .text_image_containers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .inner__container {
    align-items: flex-start;
    height: 50%;
    width: 60%;
  }

  article h2 {
    text-align: left;
    font-size: 2.2em;
  }

  article .text {
    text-align: left;
  }

  article .learn_more_button a {
    font-size: 0.8em;
  }

  .egg_mobile {
    display: none;
  }

  .egg_desktop {
    display: block;
  }

  .top_layer {
    bottom: 4em;
  }

  .top_layer h2 {
    font-size: 2em;
  }

  .top_layer .text {
    padding: 1em 13em;
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .client-testimonials {
    height: 90vh;
  }

  .client-testimonials h3 {
    letter-spacing: 0.4em;
  }

  .clients__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client__container {
    height: 60vh;
    padding: 2em 5em;
  }

  .client__container .title {
    font-size: 0.8rem;
  }

  .only-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}
